<h1></h1>

<%= link_to "Create Employee", "/about-us" %><br/><br/><br/>
<%= link_to "View All Employees", "/all_employees" %><br/><br/><br/>
<%= link_to "Create Employee(Using erb)", "/new_employee" %>